@model List<LoginOrnek.Models.Hasta>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>İlaç</th>
            <th>Kullanıcı Adı</th>
            <th>Şifre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hasta in Model)
        {
            <tr>
                <td>@hasta.id</td>
                <td>@hasta.Ad</td>
                <td>@hasta.Soyad</td>
                <td>@hasta.IlacAdi</td>
                <td>@hasta.KullaniciAdi</td>
                <td>@hasta.Sifre</td>
            </tr>
        }
    </tbody>
</table>
